body {
  background-color: #f1a9a9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  text-align: center;
}

#recipe-list {
  list-style-type: none;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.recipe-description {
  padding-left: 30px;
}

li {
  max-width: 75ch;
  margin-bottom: 5px;
}

.recipe {
  margin-bottom: 10px;
}

