body {
  background-color: #f1a9a9;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0px 20px;
}

h1 {
  text-align: center;
}

#recipe-list {
  list-style-type: none;
  text-align: center;
  margin: auto;
  width: fit-content;
  padding: 0px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.recipe-description {
  padding-left: 30px;
  max-width: 75ch;
}

li {
  max-width: 75ch;
  margin-bottom: 5px;
}

.recipe {
  margin-bottom: 10px;
}

section {
  display: inline-block;
  margin: auto;
  vertical-align: top;
}

.return-home {
  display: block;
  text-align: center;
}

div {
  width: fit-content;
  margin: auto;
}
